USE [master]
GO
/****** Object:  Database [PBL3_QLTTHT]    Script Date: 4/12/2025 9:07:37 PM ******/
CREATE DATABASE [PBL3_QLTTHT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PBL3_QLTTHT', FILENAME = N'D:\sql\MSSQL16.MSSQLSERVER01\MSSQL\DATA\PBL3_QLTTHT.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PBL3_QLTTHT_log', FILENAME = N'D:\sql\MSSQL16.MSSQLSERVER01\MSSQL\DATA\PBL3_QLTTHT_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PBL3_QLTTHT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PBL3_QLTTHT]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 4/12/2025 9:07:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](100) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[personID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[personID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Barn]    Script Date: 4/12/2025 9:07:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Barn](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[barnType] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Breeding]    Script Date: 4/12/2025 9:07:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Breeding](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[date] [datetime] NOT NULL,
	[boarID] [int] NOT NULL,
	[sowID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 4/12/2025 9:07:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[ID] [int] NOT NULL,
	[position] [nvarchar](100) NULL,
	[salary] [decimal](12, 2) NULL,
	[hireDate] [date] NULL,
	[managerID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Farmowner]    Script Date: 4/12/2025 9:07:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Farmowner](
	[ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feeding]    Script Date: 4/12/2025 9:07:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feeding](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[barnID] [int] NOT NULL,
	[feedingTime] [datetime] NOT NULL,
	[notes] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feeding_Food]    Script Date: 4/12/2025 9:07:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feeding_Food](
	[feedingID] [int] NOT NULL,
	[foodID] [int] NOT NULL,
	[quantity] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[feedingID] ASC,
	[foodID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feeding_Medicine]    Script Date: 4/12/2025 9:07:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feeding_Medicine](
	[feedingID] [int] NOT NULL,
	[medicineID] [int] NOT NULL,
	[quantity] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[feedingID] ASC,
	[medicineID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FinancialReport]    Script Date: 4/12/2025 9:07:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FinancialReport](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[date] [date] NOT NULL,
	[revenue] [decimal](15, 2) NULL,
	[expenses] [decimal](15, 2) NULL,
	[profit] [decimal](15, 2) NULL,
	[farmownerID] [int] NOT NULL,
	[generatedTime] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Food]    Script Date: 4/12/2025 9:07:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Food](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[price] [decimal](10, 2) NULL,
	[unit] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HealthReport]    Script Date: 4/12/2025 9:07:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HealthReport](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[date] [date] NOT NULL,
	[diseaseIncidence] [decimal](5, 2) NULL,
	[farmownerID] [int] NOT NULL,
	[generatedTime] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ManageImportExportPig]    Script Date: 4/12/2025 9:07:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ManageImportExportPig](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[date] [datetime] NOT NULL,
	[pigID] [int] NOT NULL,
	[barnID] [int] NOT NULL,
	[weight] [decimal](6, 2) NULL,
	[type] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Manager]    Script Date: 4/12/2025 9:07:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Manager](
	[ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Medicine]    Script Date: 4/12/2025 9:07:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medicine](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[price] [decimal](10, 2) NULL,
	[unit] [nvarchar](50) NULL,
	[expirationDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Person]    Script Date: 4/12/2025 9:07:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Person](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[phoneNumber] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[phoneNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pig]    Script Date: 4/12/2025 9:07:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pig](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[status] [varchar](50) NULL,
	[weight] [decimal](6, 2) NULL,
	[breed] [nvarchar](100) NULL,
	[dateOfBirth] [date] NULL,
	[gender] [varchar](10) NULL,
	[employeeID] [int] NULL,
	[barnID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pig_Treatment]    Script Date: 4/12/2025 9:07:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pig_Treatment](
	[pigID] [int] NOT NULL,
	[treatmentID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[pigID] ASC,
	[treatmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pig_Vaccination]    Script Date: 4/12/2025 9:07:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pig_Vaccination](
	[pigID] [int] NOT NULL,
	[vaccinationID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[pigID] ASC,
	[vaccinationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sales]    Script Date: 4/12/2025 9:07:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sales](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[date] [datetime] NOT NULL,
	[price] [decimal](12, 2) NOT NULL,
	[pigID] [int] NOT NULL,
	[buyerInfo] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[pigID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StatusReport]    Script Date: 4/12/2025 9:07:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StatusReport](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[date] [date] NOT NULL,
	[pigCount] [int] NULL,
	[healthyCount] [int] NULL,
	[sickCount] [int] NULL,
	[farmownerID] [int] NOT NULL,
	[generatedTime] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Treatment]    Script Date: 4/12/2025 9:07:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Treatment](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[date] [datetime] NOT NULL,
	[diagnosis] [nvarchar](500) NULL,
	[medicineID] [int] NULL,
	[notes] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vaccination]    Script Date: 4/12/2025 9:07:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vaccination](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[date] [datetime] NOT NULL,
	[vaccine] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Warehouse]    Script Date: 4/12/2025 9:07:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Warehouse](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[farmownerID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Warehouse_Food]    Script Date: 4/12/2025 9:07:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Warehouse_Food](
	[warehouseID] [int] NOT NULL,
	[foodID] [int] NOT NULL,
	[quantity] [decimal](10, 2) NOT NULL,
	[lastUpdate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[warehouseID] ASC,
	[foodID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Warehouse_Medicine]    Script Date: 4/12/2025 9:07:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Warehouse_Medicine](
	[warehouseID] [int] NOT NULL,
	[medicineID] [int] NOT NULL,
	[quantity] [decimal](10, 2) NOT NULL,
	[lastUpdate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[warehouseID] ASC,
	[medicineID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FinancialReport] ADD  DEFAULT (getdate()) FOR [generatedTime]
GO
ALTER TABLE [dbo].[HealthReport] ADD  DEFAULT (getdate()) FOR [generatedTime]
GO
ALTER TABLE [dbo].[StatusReport] ADD  DEFAULT (getdate()) FOR [generatedTime]
GO
ALTER TABLE [dbo].[Warehouse_Food] ADD  DEFAULT ((0)) FOR [quantity]
GO
ALTER TABLE [dbo].[Warehouse_Food] ADD  DEFAULT (getdate()) FOR [lastUpdate]
GO
ALTER TABLE [dbo].[Warehouse_Medicine] ADD  DEFAULT ((0)) FOR [quantity]
GO
ALTER TABLE [dbo].[Warehouse_Medicine] ADD  DEFAULT (getdate()) FOR [lastUpdate]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD FOREIGN KEY([personID])
REFERENCES [dbo].[Person] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Breeding]  WITH CHECK ADD FOREIGN KEY([boarID])
REFERENCES [dbo].[Pig] ([ID])
GO
ALTER TABLE [dbo].[Breeding]  WITH CHECK ADD FOREIGN KEY([sowID])
REFERENCES [dbo].[Pig] ([ID])
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD FOREIGN KEY([ID])
REFERENCES [dbo].[Person] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Manager] FOREIGN KEY([managerID])
REFERENCES [dbo].[Manager] ([ID])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_Manager]
GO
ALTER TABLE [dbo].[Farmowner]  WITH CHECK ADD FOREIGN KEY([ID])
REFERENCES [dbo].[Manager] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Feeding]  WITH CHECK ADD FOREIGN KEY([barnID])
REFERENCES [dbo].[Barn] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Feeding_Food]  WITH CHECK ADD FOREIGN KEY([feedingID])
REFERENCES [dbo].[Feeding] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Feeding_Food]  WITH CHECK ADD FOREIGN KEY([foodID])
REFERENCES [dbo].[Food] ([ID])
GO
ALTER TABLE [dbo].[Feeding_Medicine]  WITH CHECK ADD FOREIGN KEY([feedingID])
REFERENCES [dbo].[Feeding] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Feeding_Medicine]  WITH CHECK ADD FOREIGN KEY([medicineID])
REFERENCES [dbo].[Medicine] ([ID])
GO
ALTER TABLE [dbo].[FinancialReport]  WITH CHECK ADD FOREIGN KEY([farmownerID])
REFERENCES [dbo].[Farmowner] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HealthReport]  WITH CHECK ADD FOREIGN KEY([farmownerID])
REFERENCES [dbo].[Farmowner] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ManageImportExportPig]  WITH CHECK ADD FOREIGN KEY([barnID])
REFERENCES [dbo].[Barn] ([ID])
GO
ALTER TABLE [dbo].[ManageImportExportPig]  WITH CHECK ADD FOREIGN KEY([pigID])
REFERENCES [dbo].[Pig] ([ID])
GO
ALTER TABLE [dbo].[Manager]  WITH CHECK ADD FOREIGN KEY([ID])
REFERENCES [dbo].[Employee] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Pig]  WITH CHECK ADD FOREIGN KEY([barnID])
REFERENCES [dbo].[Barn] ([ID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Pig]  WITH CHECK ADD FOREIGN KEY([employeeID])
REFERENCES [dbo].[Employee] ([ID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Pig_Treatment]  WITH CHECK ADD FOREIGN KEY([pigID])
REFERENCES [dbo].[Pig] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Pig_Treatment]  WITH CHECK ADD FOREIGN KEY([treatmentID])
REFERENCES [dbo].[Treatment] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Pig_Vaccination]  WITH CHECK ADD FOREIGN KEY([pigID])
REFERENCES [dbo].[Pig] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Pig_Vaccination]  WITH CHECK ADD FOREIGN KEY([vaccinationID])
REFERENCES [dbo].[Vaccination] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Sales]  WITH CHECK ADD FOREIGN KEY([pigID])
REFERENCES [dbo].[Pig] ([ID])
GO
ALTER TABLE [dbo].[StatusReport]  WITH CHECK ADD FOREIGN KEY([farmownerID])
REFERENCES [dbo].[Farmowner] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Treatment]  WITH CHECK ADD FOREIGN KEY([medicineID])
REFERENCES [dbo].[Medicine] ([ID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Warehouse]  WITH CHECK ADD FOREIGN KEY([farmownerID])
REFERENCES [dbo].[Farmowner] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Warehouse_Food]  WITH CHECK ADD FOREIGN KEY([foodID])
REFERENCES [dbo].[Food] ([ID])
GO
ALTER TABLE [dbo].[Warehouse_Food]  WITH CHECK ADD FOREIGN KEY([warehouseID])
REFERENCES [dbo].[Warehouse] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Warehouse_Medicine]  WITH CHECK ADD FOREIGN KEY([medicineID])
REFERENCES [dbo].[Medicine] ([ID])
GO
ALTER TABLE [dbo].[Warehouse_Medicine]  WITH CHECK ADD FOREIGN KEY([warehouseID])
REFERENCES [dbo].[Warehouse] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Barn]  WITH CHECK ADD CHECK  (([barnType]='Quarantine' OR [barnType]='Regular'))
GO
ALTER TABLE [dbo].[Breeding]  WITH CHECK ADD CHECK  (([boarID]<>[sowID]))
GO
ALTER TABLE [dbo].[ManageImportExportPig]  WITH CHECK ADD CHECK  (([type]='Export' OR [type]='Import'))
GO
ALTER TABLE [dbo].[Pig]  WITH CHECK ADD CHECK  (([gender]='Female' OR [gender]='Male'))
GO
ALTER TABLE [dbo].[Pig]  WITH CHECK ADD CHECK  (([status]='Death' OR [status]='Pregnant' OR [status]='Sick' OR [status]='Healthy'))
GO
USE [master]
GO
